*~
*.aux
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.out
*.toc
*.brf
.directory
.DS_Store
*.log
.nfs*
.Rproj.user
*/tmp

/*.mko
/*.o*
/*.R
/.Renviron
/*.toc
/cache/*.*
/cache/*-*
*/tmp/*.*
!/tmp/.gitkeep
**/tmp*
local
cache
figure
*.synctex.gz
*.old

*-concordance.tex

hw01Sol.*

.Rhistory
hw03/*
hw04/*
hw05/*
hw06/*
hw07/*
hw08/*
hw09/*
hw10/*
